$bgPrimaryColor: #142247;
$bgSecondaryColor: #243153;
$bgMask: rgba(0,0,0,.5);

$textPrimaryColor: #fff;
$textSecondaryColor: #2C509A;
$textThirdColor: #000;

$btnPrimaryColor: #9B88BA;
$btnPrimaryHoverColor: #2C509A;

$textPrimaryFont: 'Mooli', sans-serif ;
$textSecondaryFont: 'Open Sans', sans-serif;
