$primaryTextColor: rgba(255,255,255, .7);
$secundaryTextColor: #fff;
$thirdTextColor: #000;

$primaryBgColor: #000;
$secundaryBgColor: rgba(15, 15, 15, 0.98);


$primaryButtonBgColor: rgba(255, 255, 255, 0.12);
$secundaryButtonBgColor: linear-gradient(1.5708rad, rgb(117, 62, 239) 25%, rgb(185, 8, 246) 100%);

$primaryBorderColor: rgba(0,0,0,100%);
$secundaryBorderColor: rgba(117, 62, 239, 100);


